{% spaceless %}
<!DOCTYPE html>
{% load staticfiles %}
{% endspaceless %}
<html lang="ru">
  <head>   
    <title>Черный Блокнот</title>
    <meta charset='utf-8'>
    <meta property='og:title' content='Черный Блокнот'>
    <meta property='og:description' content='Сайт о судьях, следователях и прокурорах, лично ответственных за политические дела в России'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=latin,cyrillic' rel='stylesheet'>
    <link href="{% static 'fonts/Activist.css' %}" rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/donate_widget.js' %}"></script>
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    </head>

    <body>
        {% block content %}

        {% endblock %}

        <div class='Footer section'>
          <div class='content'>
            <div class='left'>
              Проект <br>
              <a href='https://fbk.info' target='_blank'>Фонда Борьбы с Коррупцией</a>
            </div>
            <div class='right'>
              <div class='donate button'>Помочь проекту</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='About layer -closed'>
      <div class='content'>
        <div class='close'>✕</div>
        <h2 class='title'>О проекте</h2>
        <p>
          На этом сайте мы ведем список людей, принимавших непосредственное участие в политических делах. Каждая запись содержит ФИО судьи или следователя, описание принятого им решения и подтверждение этих сведений. Это показывает, что за политическими делами стоят конкретные люди и, возбуждая незаконные дела и вынося неправосудные приговоры, они совершают конкретные уголовные преступления. После смены власти эти действия должны быть рассмотрены специальной комиссией, которая даст им правовую оценку.
        </p>
        <p>
          Сайт будет постоянно дополняться. Мы хотим составить максимально полный и объективный список. При его наполнении будут учитываться мнения юристов и правозащитных организаций.
        </p>
      </div>
    </div>
  </body>
</html>