{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
    <div id='ROOT'>
      <div class='Application'>
        <div class='Header section'>
          <div class='content'>
            <div class='title'>
              Черный&nbsp;Блокнот&nbsp;<span class='dot'>•</span>
            </div>
            <div class='description'>
              Это сайт о судьях, следователях и прокурорах,
              лично ответственных за политические дела в России.
              Каждое незаконное решение принимают конкретные люди,
              их имена и действия — в этом списке.
            </div>
            <div class='about'>?</div>
          </div>
        </div>
        <div class='Search section'>
          <div class='content'>
            <div class='inputWrapper'>
              <input class='input' type='text' placeholder='Введите слово для поиска'>
            </div>
            <div class='button'>Показать</div>
          </div>
        </div>
        <div class='List section'>
          <div class='content'>
            {% for person in object_list %}
            <div class='item -closed'>
              <div class='persona'>
                <div class='profile'>
                  <div class='photo'>{{ pesrson.pics.url }}
                  </div><div class='info'>
                    <div class='surname'>{{ person.surname }}</div>
                    <div class='name'>{{ person.name }} {{ person.last_name }}</div>
                    <div class='position'>{{ person.position }}</div>
                  </div>
                </div>
                <div class='sources'>
                  <div class='source'>
                    <div class='label'>Источники:</div>
                    <div class='values'><a class='value' href='http://example.com'>asd</a></div>
                  </div>
                  <div class='source'>
                    <div class='label'>Кто может подтвердить:</div>
                    <div class='values'><a class='value' href='http://example.com'></a></div>
                  </div>
                </div>
                <div class='tags'>
                  <a class='tag' href='http://example.com'>check</a>
                  <a class='tag' href='http://example.com'>again</a>
                </div>
              </div>
              <div class='actions'>
                <ul class='primary'>
                  <li class='action'>действие 1</li>
                  <li class='action'>действие 2</li>
                </ul>
                <ul class='secondary'>
                  <li class='action'>действие 1</li>
                  <li class='action'>действие 2</li>
                </ul>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class='Paginator section'>
          <div class='content'>
            <div class='pages'>
                {% if person.has_previous %}
                    <a href='?page={{ person.previous_page_number }}' class='page'>Назад</a>
                {% endif %}
                {% for num in person.paginator.page_range %}
                  {% ifequal num person.number %}
                    <a class='page'>{{ num }}</a>
                    <a class='page' href='?page={{ num }}'>{{ num }}</a>
                    <a class='page'>...</a>
                    <a class='page' href='?page={{ person.paginator.num_pages }}'>{{ person.paginator.num_pages }}</a>
                  {% endifequal %}
                {% endfor %}
                {% if person.has_next %}
                    <a href='?page={{ person.next_page_number }}' class='page'>Вперед</a>
                {% endif %}
            </div>
          </div>
        </div>
        {% endblock %}