@import '~normalize.css'


html
  height 100%

body
  position relative
  min-height 100%
  box-sizing border-box
  padding-bottom 80px
  font-size 14px
  line-height 1.428571429
  font-family 'PT Sans'
  color hsl( 0,0,20 )

input
  outline none

body > .layer
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  overflow auto

  &.-closed
    display none


.button
  border-radius 2px
  text-align center
  color white
  background-color hsl( 0,100,40 )
  cursor pointer


.Application

  > .section
    min-width 640px

    > .content
      box-sizing border-box
      min-width 640px
      max-width 920px
      margin-left auto
      margin-right auto
      padding-left 20px
      padding-right 20px

  > .Header > .content
  > .Search > .content
    padding-left 115px
    padding-right 115px


.Header
  position relative
  background-color hsl( 0,0,20 )
  background-image url( '../img/bg_tile.jpg' )
  background-position center

  @media only screen and ( max-width: 920px )
    background-position -140px

  > .content
    padding-top 40px
    padding-bottom 40px

    > .title
      font-family Activist
      font-size 46px
      font-weight 900
      color white

      > .dot
        line-height 0px
        font-size 90px
        color hsl( 0,100,40 )

    > .description
      width 418px
      text-align justify
      margin-top 10px
      color white

    > .about
      position absolute
      top 20px
      right 20px
      width 28px
      height 28px
      line-height 28px
      border 2px solid white
      border-radius 50%
      text-align center
      font-weight 900
      color white
      cursor pointer


.Search
  height 80px
  box-shadow 0px 2px 4px hsl( 0,0,85 )

  > .content
    position relative
    padding-top 16px
    padding-bottom 16px
    height 48px

    > .inputWrapper
    > .inputWrapper > .input
    > .button
      position absolute
      box-sizing border-box
      height 48px

    > .inputWrapper
    > .button
      top 16px

    > .inputWrapper > .input
    > .button
      font-size 14px

    > .inputWrapper
      left 115px
      right 305px

      > .input
        top 0px
        bottom 0px
        width 100%
        padding 0px 20px
        border 1px solid hsl( 0,0,80 )
        border-radius 2px
        line-height 46px
        color hsl( 0,0,50 )

    > .button
      right 115px
      width 170px
      line-height 48px


.List

  > .content
    padding-top 30px
    padding-bottom 30px

    > .item
      padding-left 315px
      border-bottom 1px solid hsl( 0,0,90 )

      &:first-child
        border-top 1px solid hsl( 0,0,90 )

      a
        color hsl( 0,100,42 )

      > .persona
      > .actions
        box-sizing border-box
        display inline-block
        vertical-align top
        padding 25px 20px

      > .persona
        margin-left -315px
        width 315px

        > .profile

          > .photo
          > .info
            display inline-block
            vertical-align top

          > .photo
            width 55px
            height 55px
            border-radius 2px
            background-color hsl( 0,0,80 )

          > .info
            margin-left 20px
            width 200px

            > .surname
              color hsl( 0,100,42 )
              text-decoration underline
              cursor pointer

            > .position
              margin-top 5px
              font-size 11px
              color hsl( 0,0,50 )

        > .sources
        > .tags
          margin-top 15px
          padding-left 75px

        > .sources

          > .source
            margin-top 12px

            > .label
              font-size 11px
              font-weight 900
              color black

            > .values
              font-size 12px

        > .tags

          > .tag
            display inline-block
            font-size 12px
            color hsl( 0,0,50 )
            margin-right 4px

      > .actions
        font-size 12px

        .action
          padding-left 3px

          + .action
            margin-top 2px

        ul, li
          margin 0
          padding 0

        > .primary
        > .secondary
          padding-left 15px

        > .secondary
          margin-top 20px

      &.-closed

        &:hover
          background-color hsl( 0,0,98 )

        > .persona > .sources
        > .persona > .tags
        > .actions > .secondary
          display none

        > .persona > .profile > .info > .surname:after
          font-size 10px
          content ' ▼'

      &.-open

        > .persona
          background-color hsl( 0,0,96 )

        > .persona > .profile > .info > .surname:after
          font-size 10px
          content ' ▲'


.Paginator
  margin 30px 0px 60px

  > .content

    > .pages
      text-align center

      > .page
        display inline-block
        color inherit
        text-decoration none

        &[href]
          color hsl( 0,100,42 )
          text-decoration underline

        + .page
          margin-left 5px


.Footer
  position absolute
  bottom 0px
  left 0px
  right 0px
  height 80px
  background-color hsl( 0,0,20 )

  > .content
    position relative

    > .left
      position absolute
      top 20px
      left 20px
      color white
      line-height 20px

      > a
        text-decoration underline
        color inherit

    > .right
      position absolute
      top 16px
      right 20px

      > .button
        width 222px
        height 48px
        line-height 48px


.About
  padding 50px
  background-color hsla( 0,0,0,0.5 )

  > .content
    position relative
    max-width 400px
    margin 0px auto
    padding 20px 50px 30px
    border-radius 2px
    font-size 16px
    background-color white

    > .close
      position absolute
      top -20px
      right -20px
      width 40px
      height 40px
      line-height 40px
      border-radius 50%
      text-align center
      font-size 16px
      color white
      background-color hsl( 0,100,40 )
      cursor pointer

    > .title
      font-family Activist
