@import '~normalize.css';
html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
  padding-bottom: 80px;
  font-size: 14px;
  line-height: 1.428571429;
  font-family: 'PT Sans';
  color: #333;
}
input {
  outline: none;
}
body > .layer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
body > .layer.-closed {
  display: none;
}
.button {
  border-radius: 2px;
  text-align: center;
  color: #fff;
  background-color: #c00;
  cursor: pointer;
}
.Application > .section {
  min-width: 640px;
}
.Application > .section > .content {
  box-sizing: border-box;
  min-width: 640px;
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.Application > .Header > .content,
.Application > .Search > .content {
  padding-left: 115px;
  padding-right: 115px;
}
.Header {
  position: relative;
  background-color: #333;
  background-image: url("../img/bg_tile.jpg");
  background-position: center;
}
@media only screen and (max-width: 920px) {
  .Header {
    background-position: -140px;
  }
}
.Header > .content {
  padding-top: 40px;
  padding-bottom: 40px;
}
.Header > .content > .title {
  font-family: Activist;
  font-size: 46px;
  font-weight: 900;
  color: #fff;
}
.Header > .content > .title > .dot {
  line-height: 0px;
  font-size: 90px;
  color: #c00;
}
.Header > .content > .description {
  width: 418px;
  text-align: justify;
  margin-top: 10px;
  color: #fff;
}
.Header > .content > .about {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border: 2px solid #fff;
  border-radius: 50%;
  text-align: center;
  font-weight: 900;
  color: #fff;
  cursor: pointer;
}
.Search {
  height: 80px;
  box-shadow: 0px 2px 4px #d9d9d9;
}
.Search > .content {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  height: 48px;
}
.Search > .content > .inputWrapper,
.Search > .content > .inputWrapper > .input,
.Search > .content > .button {
  position: absolute;
  box-sizing: border-box;
  height: 48px;
}
.Search > .content > .inputWrapper,
.Search > .content > .button {
  top: 16px;
}
.Search > .content > .inputWrapper > .input,
.Search > .content > .button {
  font-size: 14px;
}
.Search > .content > .inputWrapper {
  left: 115px;
  right: 305px;
}
.Search > .content > .inputWrapper > .input {
  top: 0px;
  bottom: 0px;
  width: 100%;
  padding: 0px 20px;
  border: 1px solid #ccc;
  border-radius: 2px;
  line-height: 46px;
  color: #808080;
}
.Search > .content > .button {
  right: 115px;
  width: 170px;
  line-height: 48px;
}
.List > .content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.List > .content > .item {
  padding-left: 315px;
  border-bottom: 1px solid #e6e6e6;
}
.List > .content > .item:first-child {
  border-top: 1px solid #e6e6e6;
}
.List > .content > .item a {
  color: #d60000;
}
.List > .content > .item > .persona,
.List > .content > .item > .actions {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  padding: 25px 20px;
}
.List > .content > .item > .persona {
  margin-left: -315px;
  width: 315px;
}
.List > .content > .item > .persona > .profile > .photo,
.List > .content > .item > .persona > .profile > .info {
  display: inline-block;
  vertical-align: top;
}
.List > .content > .item > .persona > .profile > .photo {
  width: 55px;
  height: 55px;
  border-radius: 2px;
  background-color: #ccc;
}
.List > .content > .item > .persona > .profile > .info {
  margin-left: 20px;
  width: 200px;
}
.List > .content > .item > .persona > .profile > .info > .surname {
  color: #d60000;
  text-decoration: underline;
  cursor: pointer;
}
.List > .content > .item > .persona > .profile > .info > .position {
  margin-top: 5px;
  font-size: 11px;
  color: #808080;
}
.List > .content > .item > .persona > .sources,
.List > .content > .item > .persona > .tags {
  margin-top: 15px;
  padding-left: 75px;
}
.List > .content > .item > .persona > .sources > .source {
  margin-top: 12px;
}
.List > .content > .item > .persona > .sources > .source > .label {
  font-size: 11px;
  font-weight: 900;
  color: #000;
}
.List > .content > .item > .persona > .sources > .source > .values {
  font-size: 12px;
}
.List > .content > .item > .persona > .tags > .tag {
  display: inline-block;
  font-size: 12px;
  color: #808080;
  margin-right: 4px;
}
.List > .content > .item > .actions {
  font-size: 12px;
}
.List > .content > .item > .actions .action {
  padding-left: 3px;
}
.List > .content > .item > .actions .action + .action {
  margin-top: 2px;
}
.List > .content > .item > .actions ul,
.List > .content > .item > .actions li {
  margin: 0;
  padding: 0;
}
.List > .content > .item > .actions > .primary,
.List > .content > .item > .actions > .secondary {
  padding-left: 15px;
}
.List > .content > .item > .actions > .secondary {
  margin-top: 20px;
}
.List > .content > .item.-closed:hover {
  background-color: #fafafa;
}
.List > .content > .item.-closed > .persona > .sources,
.List > .content > .item.-closed > .persona > .tags,
.List > .content > .item.-closed > .actions > .secondary {
  display: none;
}
.List > .content > .item.-closed > .persona > .profile > .info > .surname:after {
  font-size: 10px;
  content: ' ▼';
}
.List > .content > .item.-open > .persona {
  background-color: #f5f5f5;
}
.List > .content > .item.-open > .persona > .profile > .info > .surname:after {
  font-size: 10px;
  content: ' ▲';
}
.Paginator {
  margin: 30px 0px 60px;
}
.Paginator > .content > .pages {
  text-align: center;
}
.Paginator > .content > .pages > .page {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}
.Paginator > .content > .pages > .page[href] {
  color: #d60000;
  text-decoration: underline;
}
.Paginator > .content > .pages > .page + .page {
  margin-left: 5px;
}
.Footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 80px;
  background-color: #333;
}
.Footer > .content {
  position: relative;
}
.Footer > .content > .left {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  line-height: 20px;
}
.Footer > .content > .left > a {
  text-decoration: underline;
  color: inherit;
}
.Footer > .content > .right {
  position: absolute;
  top: 16px;
  right: 20px;
}
.Footer > .content > .right > .button {
  width: 222px;
  height: 48px;
  line-height: 48px;
}
.About {
  padding: 50px;
  background-color: rgba(0,0,0,0.5);
}
.About > .content {
  position: relative;
  max-width: 400px;
  margin: 0px auto;
  padding: 20px 50px 30px;
  border-radius: 2px;
  font-size: 16px;
  background-color: #fff;
}
.About > .content > .close {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background-color: #c00;
  cursor: pointer;
}
.About > .content > .title {
  font-family: Activist;
}
